<a href="https://colab.research.google.com/github/Habib-20/kel1-project-apm/blob/main/Algortima%2BEclat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%pip install apyori

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5974 sha256=7886cb697ffe25089ef1e295b3edb81f829c5743d802cc599bbd211b344131b3
  Stored in directory: /root/.cache/pip/wheels/cb/f6/e1/57973c631d27efd1a2f375bd6a83b2a616c4021f24aab84080
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [1]:
# Mengimpor library
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
# Mengimpor dataset
dataset = pd.read_csv('optimisasi_retail.csv')
dataset.head(9)

,udang,almond,alpukat,sayuran,anggur hijau,gandum,ragi,keju kemasan,minuman berenergi,jus tomat,susu yogurt,teh hijau,madu,salad,air mineral,salmon,minuman bervitamin,minuman rasa,bayam,minyak zaitun
0,burger,bakso,telur,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,kacang mete,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,bebek,alpukat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,air mineral,susu,snack batangan,tepung beras,teh hijau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,susu yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,pasta gandum,kentang goreng,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,sup,krim,bawang merah,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,sayuran beku,spageti,teh hijau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,kentang goreng,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
dataset = pd.read_csv('optimisasi_retail.csv', header = None )
jumlah_baris = dataset.shape[0]
jumlah_kolom = dataset.shape[1]
transaksi = [[str(dataset.values[i,j]) for j in range(0, jumlah_kolom) if str(dataset.values[i,j])!='nan']
                                              for i in range(0, jumlah_baris)]

In [4]:
# Membuat variabel items yang berisikan transaksi yang tidak terduplikasi  
items = list()
for t in transaksi:
    for x in t:
        if(not x in items):
            items.append(x)

In [5]:
# Membuat list bernama eclat yang merupakan pasangan 2 item, dengan nilai support awal nol (0)
eclat = list()
for i in range(0, len(items)):
    for j in range(i+1, len(items)):
        eclat.append([(items[i],items[j]),0])

In [6]:
# Menghitung nilai support untuk setiap pasangan 2 item
for p in eclat:
    for t in transaksi:
        if(p[0][0] in t) and (p[0][1] in t):
            p[1] += 1
    p[1] = p[1]/len(transaksi)

In [7]:
# Merubah hasil eclat ke dalam data frame dan mengurutkannya berdasarkan nilai support tertinggi
Hasil_eclat = pd.DataFrame(eclat, columns = ['rule','support']).sort_values(by = 'support', ascending = False)