In [54]:
import numpy as np
import pandas as pd
from sklearn.svm import SVC

In [55]:
data = pd.read_csv("ips.csv")

In [56]:
data.head()

   IPS1  IPS2  IPS3  IPS4 keterangan
0  2,53   2,1  0,71  2,36  terlambat
1  3,37  3,15  3,02  2,93      tepat
2  2,37  2,17  2,17  2,19  terlambat
3  2,37  2,72  2,12  1,98  terlambat
4  3,53  3,72   3,9   3,8      tepat

In [57]:
from sklearn.preprocessing import LabelEncoder

In [58]:
enc = LabelEncoder ()

In [59]:
data['keterangan'] = enc.fit_transform(data['keterangan'].values)

In [60]:
data.head()

   IPS1  IPS2  IPS3  IPS4  keterangan
0  2,53   2,1  0,71  2,36           1
1  3,37  3,15  3,02  2,93           0
2  2,37  2,17  2,17  2,19           1
3  2,37  2,72  2,12  1,98           1
4  3,53  3,72   3,9   3,8           0

In [61]:
atr_data = data.drop(columns='keterangan')

In [62]:
atr_data.head()

   IPS1  IPS2  IPS3  IPS4
0  2,53   2,1  0,71  2,36
1  3,37  3,15  3,02  2,93
2  2,37  2,17  2,17  2,19
3  2,37  2,72  2,12  1,98
4  3,53  3,72   3,9   3,8

In [63]:
cls_data = data['keterangan']

In [64]:
cls_data.head()

0    1
1    0
2    1
3    1
4    0
Name: keterangan, dtype: int64

In [65]:
from sklearn.model_selection import train_test_split

In [66]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [67]:
from sklearn.svm import SVC

In [ ]:
model = SVC(C=10, cache_size=200,
            decision_function_shape='ovr',gamma=1.0, kernel='linear',
            max_iter=-1, random_state=None,
            tol=0.00001, verbose=False)

#trainning model
xtrain, xtest, ytrain, ytest =  train_test_split(atr_data, cls_data, test_size=0.2, random_state=5)
tree_data = SVC(random_state=2)
tree_data.fit(xtrain, ytrain)

In [ ]:
#mentrainning model
model = model.fit(xtrain, ytrain)

In [ ]:
#prediksi input data testing
hasilPrediksi = model.predict(xtest)
print("label sebenarnya", ytest)
print("hasil prediksi: ", hasilprediksi)

In [ ]:
#menghitung akurasi
prediksiBenar = (hasilPrediksi == ytest) .sum()
prediksiSalah = (hasilPrediksi != ytest) .sum()
print("prediksi benar: ", prediksiBenar, "data")
print("prediksi salah: ", prediksiSalah, "data")
print("akurasi: ", prediksiBenar/(prediksiBenar+prediksisalah)*100,"%"